@import '../../styles/_mixin.scss';

.card {
    padding: 10px;
    width: calc(100% / 2 - 10px);

    @include xs {
        width: 100%;
    }

    &_imageblock {
        border: 2px solid #b6bfb6;
        border-radius: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 20px 0;
        padding: 20px;
        cursor: pointer;
        height: 300px;



        @include mobile {
            padding: 10px;
            margin: 10px 0;
        }

        img {
            border-radius: 10px;
        }
    }

    &_title {
        line-height: 1.5;
        font-size: 16px;
        font-weight: 600;
    }

    &_details {
        margin: 10px 0;
        padding-bottom: 10px;
        border-bottom: 2px solid #b6bfb6;

        &_text {
            font-size: 16px;
            color: #56555e;
            overflow: hidden;
            line-height: 1.2;
            text-align: justify;

            @include mobile {
                font-size: 14px;
            }
        }
    }

    &_btngrp {
        display: flex;
        justify-content: space-between;
    }

    &_btn {
        border: 2px solid #b6bfb6;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 15px;

        a {
            color: #5d5f5d;
        }

        @include mobile {
            margin: 10px 0;
            font-size: 14px;
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}